<!doctype html>
<html class="no-js">
<head>

	<!-- Meta -->
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width">

	<!-- Title -->
	<title>{{ config.title }}</title>

	<!-- Link -->
    <link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.png') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap-theme.min.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
	<script src="{{ url_for('static', filename='js/chart.min.js') }}"></script>

	<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700,600,300'
          rel='stylesheet' type='text/css'>

</head>
<body>

	{% for box in boxes %}
        <div class="info-box" style="
            width: {{ box.sizes.width }}%;
            height: {{ box.sizes.height }}%;
            left: {{ box.sizes.x }}%;
            top: {{ box.sizes.y }}%;
            background-color: {{ box.color }};
            ">
            {% include box.get_widget_template() with context %}
        </div>
    {% endfor %}


	<!-- Scripts -->
	<script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
	<script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
	<script src="{{ url_for('static', filename='js/main.js') }}"></script>
	<script>
        $(function () {
            $("[data-widget='rss']").each(function () {
                var widget = $(this),
                    rssUrl = widget.data("url"),
                    interval = widget.data("interval");
                var fetchRss = function () {
                    $.getJSON("fetch_rss", {url: rssUrl}, function (response) {
                        widget.empty();
                        response.entries.forEach(function (entry) {
                            $("<li>").append(
                                $("<a>")
                                    .attr("href", entry.url)
                                    .html(entry.title)
                            ).appendTo(widget);
                        });
                        setTimeout(fetchRss, parseInt(interval));
                    });
                };
                fetchRss();
            });

            $("[data-widget='image']").each(function () {
                var widget = $(this),
                    interval = widget.data("interval"),
                    originalUrl = widget.attr("src");
                if (interval) {
                    setInterval(function () {
                        var url, suffix = Math.random();
                        if (originalUrl.indexOf("?") > -1) {
                            url = originalUrl + "&" + suffix;
                        } else {
                            url = originalUrl + "?" + suffix;
                        }
                        widget.attr("src", url);
                    }, parseInt(interval));
                }
            });

            $("[data-widget='twitter']").each(function () {
                var widget = $(this),
                    boxId = widget.data("box-id"),
                    keywords = widget.data("keywords"),
                    interval = widget.data("interval") || 60000;
                var fetchTweets = function () {
                    $.getJSON("fetch_tweet", {
                        keywords: keywords,
                        box_id: boxId
                    }, function (response) {
                        widget.empty();
                        $("<p>").html(response.text).appendTo(widget);
                        $("<span>").html(response.user.name).appendTo(widget);
                        setTimeout(fetchTweets, parseInt(interval));
                    });
                };
                fetchTweets();
            });

        });
	</script>
</body>
</html>
