
/* 
* Tools
*******************/
.db{display:block;}
.dn{display:none;}
.fl{float:left;}
.fr{float:right;}

.left-align{left:0;}
.right-align{right:0;}

/* 
* Fonts
*******************/


/* 
* Layout
*******************/

html{height: 100%;}
body {min-height: 100%;height: auto !important;font-size: 100%;}

.info-box{position: absolute;}
.info-box .box-headline{text-align: center;color: #fff;font-family: 'Open Sans', Helvetica, sans-serif;font-weight:600;font-size: 3.5em;text-shadow: 0px 0px 45px rgba(0,0,0,.3);}

.info-box.big-box{width:50%;height:100%;background-color:#45ADA8;right: 0;}
.info-box.mid-box{width:30%;background-color:#594F4F;height: 70%;}
.info-box.sm-box{width: 20%;background-color: #C7F464;left: 30%;height: 50%;}
.info-box.xs-box{width: 20%;background-color: #1B6274;left: 30%;height: 30%;top: 50%;}
.info-box.bar-box{width: 20%;background-color: #C44D58;left: 30%;height: 20%;top: 80%;}
.info-box.twin-box{width: 30%;background-color: #9DE0AD;left: 0;height: 30%;top: 70%;}

.news-list{list-style:none;margin: 0 auto;text-align: left;padding-left: 20%;padding: 5% 0 0 10%;font-size: 2em;line-height: 1.6em;text-shadow: 0px 0px 20px rgba(0,0,0,.3);}
.news-list li{width: 93%;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;}
.news-list li a{color:#fff;font-family: 'Open Sans', Helvetica, sans-serif;font-weight:300;letter-spacing:1px;}
.news-list li a:hover{text-decoration:none; color:#fff;}

.announcement-list{list-style-type:circle;margin: 0 auto;text-align: left;padding-left: 20%;padding: 5% 0 0 10%;font-size: 3em;line-height: 2.2em;text-shadow: 0px 0px 20px rgba(0,0,0,.3);}
.announcement-list li{width: 93%;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;}
.announcement-list li a{color:#fff;font-family: 'Open Sans', Helvetica, sans-serif;font-weight:300;letter-spacing:1px;}
.announcement-list li a:hover{text-decoration:none; color:#fff;}

.highlighted-worker{width: 166px;border: 6px solid #fff; border-radius: 50%;display:block;margin: 15px auto 0 auto;}

.image-cornered{width: 200px;border: 6px solid #fff;display:block;margin: 12px auto 0 auto;}
